<!DOCTYPE html>
  <html>
    <head>
      <title>Render JSON data in HTML using Node.js and EJS</title>
    </head>
    <body>
      <ul>
        <% for (const item of items) { %>
          <li><%= item.name %> - <%= item.price %></li>
        <% } %>
      </ul>
      <button><a href="/gov">Continue</a></button>
    </body>
  </html>